<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Private Wall</title>
</head>
<body>
    <div class="container">
        <h1>Welcome {{users["first_name"]}} <a href="/logout" role="button" class="btn btn-info">Logout</a></h1>
        <div class="in_msg">
            <h1> Your Messages</h1>
            {% for msg in messages %}
                {% for user in users %}
                    {% if msg['from_user'] == user['id_users'] %}
                    <p style="color: darkgray" style="font: bold">{{user['first_name']}} sent.. </p>
                    {% endif %}
                {% endfor %}
                <p>.. {{msg['content']}} <a href="/delete/{{ msg['id_messages']}}/{{msg['to_user']}}" role="button" class="btn btn-danger">Delete</a></p>
            {% endfor %}
        </div>
        <div class="out_msg">
            <h1>Send your message</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% for user in users %}
            <form action="/create" method="POST">
                <div class="form-group">
                    <table class="table table-sm">
                        <tbody>
                            <td> {{user['first_name']}}</td>
                            <input type="hidden" value="{{user['id_users']}}" name="to_user">
                            <td><input type="text" class="form-control" name="content"></td>
                            <td><button type="submit">Send to {{user["first_name"]}}</button></td>
                        </tbody>
                    </table>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>

<!--
<label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">