<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Monkeys are here!</h1>
    <% for(var monkey of monkeys){ %>
    <a href="/monkeys/<%= monkey.id %>"><h3>Name: <%= monkey.name %></h3></a>
    <h3>Age: <%= monkey.age %></h3>
    <h3>Color: <%= monkey.color %></h3>
    <% } %>
    <a href="/monkeys/new">New monkey</a>
</body>
</html>