<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>flask users</title>
</head>
<body>
    <div class="add">
        <h1copy>Add a new user</h1>
        <form action="/add_user" method="POST">
            <p>Please tell me your First Name: <input type="text" name="f_name"></p>
            <p>Please tell me your Last Name: <input type="text" name="l_name"></p>
            <p>Please tell me your Email: <input type="text" name="email"></p>
            <input type="submit" value="Submit & Create">
        </form>
    </div>
</body>
</html>