*{
    margin: 0px;
    padding: 0px;
    outline: 1px solid  black;
}
    #wrapper{
    width: 1000px;
    height: 1500px;
    padding: 10px;
    background-color: silver;
    }
    .red{
        background-color: red;
        
        display: inline;
        

    }