<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trip Buddy Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row border-bottom border-dark mt-5">
            <div class="col-sm-8">
                <h2>Hello {{session["greeting"]}}</h2>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/logout">LOG OUT </a>
                <a href="/newtrip" class="border border-primary shadow p-3 mb-5 bg-white rounded">Create a New Trip!</a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Your trips:</h2>
        {% for trp in trips %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Destination</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Plan</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row"><a href="/trip_details/{{trp['trip_id']}}">{{trp['destination']}}</a></th>
                <td>{{trp['start_date']}}</td>
                <td>{{trp['end_date']}}</td>
                <td class="text-wrap">{{trp['plan']}}</td>
                <td><a href="/delete/{{trp['trip_id']}}/{{trp['users_trip']}}">Remove</a> | <a href="/edit/{{trp['users_trip']}}/{{trp['trip_id']}}">Edit</a></td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</body>
</html>