<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Trip Details</title>
</head>
<body>
    <div class="container">
        <div class="row border-bottom border-dark mt-5">
            <div class="col-sm-8">
                <h2>Hello {{session["greeting"]}}</h2>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/dashboard">Dashboard </a>
                <a href="/logout" >Log out</a>
            </div>
        </div>
        <div class="pt-xl-2"><h1 class="border border-secondary bg-secondary rounded-pill text-center ">View your trip details here</h1></div>
        <p>{{trip['destination']}}<p>
        <p>{{trip['start_date']}}</p>
        <p>{{trip['end_date']}}</p>
        <p>{{trip['plan']}}</p>
        <p>{{trip['created_at']}}</p>
        <p>{{trip['updated_at']}} </p>
        <p>created by: {{trip['first_name']}} </p>
    </div>
</body>
</html>