<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>car form</title>
</head>
<body>
    <h1>Add new car information</h1>
    <form action="/action_page.php">
        model:<br>
        <input type="text">
        <br>
        manufacturer:<br>
        <input type="text">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>