<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Quote Dash</title>
</head>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <p class="navbar-brand">Quote Dash</p>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/my_posts">Hello {{session["greeting"]}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/quotes"><span class="glyphicon glyphicon-arrow-left"></span> Back </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% for i in quotes %}
        <div class="panel panel-default">
            <div class="panel-heading">Author: {{i['author']}}</div>
            <div class="panel-body">{{i['content']}}</div>
            <div class="panel-body"><a href="/delete/{{i['id_quotes']}}/{{i['from_user']}}"> DELETE </a></div>
        </div>  
        {% endfor %}
</body>
</html>