<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quote Dash</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <p class="navbar-brand">Quote Dash</p>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/my_posts">Hello {{session["greeting"]}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/edit"><span class="glyphicon glyphicon-user"></span> Edit account</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="row col-sm-4">
                <h2>Quotes</h2>
                {% for i in joined %}
                <div class="panel panel-default">
                    <div class="panel-heading">Author: {{i['author']}}</div>
                    <div class="panel-body">{{i['content']}}</div>
                    <div class="panel-body">Like | <a href="/delete/{{i['id_quotes']}}/{{i['from_user']}}"> DELETE </a></div>
                    <div class="panel-footer">Posted by: {{i['first_name']}}</div>
                </div>  
                {% endfor %}
            </div>
            <div class="row col-sm-8">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <form action="/create" method="POST">
                <div class="form-group">
                    <div class="container">
                        <h2>Add a Quote</h2>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p> Author </p>
                                <input type="hidden" name="auth">
                                <input type="text" class="form-control" name="author">
                            </li>
                            <li class="list-group-item">
                                <p> Quote </p>
                                <input type="hidden"name="quo">
                                <textarea type="text" class="form-control" rows="5" id="comment" name="content"></textarea>
                            </li>
                            <li class="list-group-item"><button type="submit">submit quote</button></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
