<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <title>Favorite Books</title>
</head>
<body>
    <div class="container">
        <div class="row border-bottom border-dark">
            <div class="col-sm-8">
                <h2>Welcome USER</h2>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/logout">LOG OUT </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="pt-xl-2"><h1 class="border border-secondary bg-secondary rounded-pill text-center ">Book Title</h1></div>
                <p>Added by: name_here</p>
                <p>Added on: created_time</p>
                <p>last updated on: updated_time</p>
                <div class="input-group pb-xl-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Book Description</span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="col-sm-6">
                <h2 class="pt-xl-2"> Users who Like this Book</h2>
                <ul>
                    <li> for i in fav_books? </li>
                </ul>
                <a href="#">Add to favorties! need to do this</a>
            </div>
        </div>
    </div>
</body>
</html>