<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cat List</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col border border-dark bg-info">
                <h1>EJS cats</h1>
            </div>
        </div>
        <a href="/cats/whisker"><img src="/images/whisker.jpg" class="rounded-circle d-block pt-2 mx-auto" alt=".jpg cat"> </a> 
        <a href="/cats/kitty"><img src="/images/kitty.jpg" class="rounded-circle d-block pt-2 mx-auto" alt=".jpg cat"></a> 
        <a href="/cats/flerken"><img src="/images/flerken.jpg" class="rounded-circle d-block pt-2 mx-auto" alt=".jpg cat"></a> 
    </div>
</body>
</html>